.header {
  display: block;
  /*height: 5em;*/
  margin: 0;
}

.nav-bar {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: space-around;
  height: 5em;
  align-items: center;
}

.nav-bar--middle {
  width: 75%;
  align-items: center;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}

.nav-link {
  position: relative;
  display: inline-block;
}

.nav-bar__img {
  width: 100%;
}

.nav-bar__img:after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.btn-group {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.nav-bar__separator::after {
  content: " | ";
}

.nav-bar__btn {
  font: 0.75em sans-serif;
  display: inline;
  padding: 0 1em;
  /*padding-right: 1em;*/
}

.nav-bar__btn--state-home {
  color: rgb(124, 63, 14);
}

.body {
}
